*{
  background: black;
  color: azure;
}


.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


h1{
  color:rebeccapurple
}


button{
  padding: 12px 24px;
  background: rebeccapurple;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
  font-size: 20px;
  outline: none;
}